<div class="container">

  <div class="row">

   <!-- <div class="col-md-12">
      <div>-->

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">General</a></li>
    <li role="presentation"><a href="#investments" aria-controls="iuncompleted" role="tab" data-toggle="tab">Mis Inversiones Pendientes</a></li>
    <li role="presentation"><a href="#investments2" aria-controls="icompleted" role="tab" data-toggle="tab">Mis inversiones Completadas</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Mis Datos</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">

      <div class="jumbotron">
      <% @total = 0 %>
      <% @investments.each do |i| %>
      <% @total = i.monto + @total %>
      <% end %> 

      <p class="h3">Monto Total Invertido <%= @total %></p>
      </div>

    </div><!-- tabpanel -->
    <div role="tabpanel" class="tab-pane" id="investments">

      <p class="h3">Propiedades en las que has invertido</p>
      
      <!-- probando -->

      <% @user.investments.each do |i| %>
      <% if !i.property.financed? %>
      <div class="jumbotron">
        <p class="h4">Nombre Propiedad:</p>
        <p class="h3"><%= i.property.name %></p>
        <p class="h4">Monto Invertido:</p>
        <p class="h3"><%= i.monto %></p>
      </div>
      <% end %><!-- if -->
      <% end %><!-- bucle -->

      <!-- probando -->

    </div><!-- tabpanel -->
    <div role="tabpanel" class="tab-pane" id="investments2">

      <p class="h3">Propiedades en las que has invertido</p>
      
      <!-- probando -->

      <% @user.investments.each do |i| %>
      <% if i.property.financed? %>
      <div class="jumbotron">
        <p class="h4">Nombre Propiedad:</p>
        <p class="h3"><%= i.property.name %></p>
        <p class="h4">Monto Invertido:</p>
        <p class="h3"><%= i.monto %></p>
      </div>
      <% end %><!-- if -->
      <% end %><!-- bucle -->

      <!-- probando -->

    </div><!-- tabpanel -->
    <div role="tabpanel" class="tab-pane" id="messages">

      <div class="jumbotron">
      <p class="h4">Bienvenido <%= @user.name %></p>
      <%= @user.email %>
      </div>

    </div><!-- tabpanel -->
  </div><!-- tabcontent -->

   <!-- </div>

   </div>-->

  </div><!-- row -->

</div><!-- container -->
