<div class="container">

  <div class="row">

    <div class="col-md-12">
      <div>
<p class="h4">Bienvenido <%= @user.name %></p>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Propiedades Publicadas por Mi</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Empezar a Publicar</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Detallar Propiedades</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Publicar Propiedades</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">

      <% @active_properties.each do |p| %>
      
      <div class="col-md-12 jumbotron">
      <p class="h4">Nombre Propiedad</p>
      <%= p.name %>
      <p class="h4">Valor Propiedad</p>
      <%= p.valor %>

    </div>
      <% end %>

    </div>
    <div role="tabpanel" class="tab-pane" id="profile">

      <p class="h3">Publicar Propiedad</p>
      <%= render 'properties/form' %>

    </div>
    <div role="tabpanel" class="tab-pane" id="messages">

      <% @active_properties.each do |p| %>
    <div class="col-md-12 jumbotron">

      <p class="h3">Propiedades publicadas por mi</p>
      
      <p class="h4">Nombre Propiedad</p>
      <%= p.name %>
      <p class="h4">Valor Propiedad</p>
      <%= p.valor %>
      <%= link_to "Ver Propiedad", active_property_path(p) %>

    </div>
      <% end %>

    </div>
    <div role="tabpanel" class="tab-pane" id="settings">

      <% @active_properties.each do |p| %>
    <div class="col-md-12 jumbotron">
      
      <p class="h4">Nombre Propiedad</p>
      <%= p.name %>
      <p class="h4">Valor Propiedad</p>
      <%= p.valor %>
      <%= link_to "Ver Propiedad", active_property_path(p) %>
      <%#= p.check_box (:published) %>

    </div>
      <% end %>

    </div>
  </div>

</div>
    </div>

    <div class="col-md-6">

      

    </div>

    <div class="col-md-6">

      

    </div>
      
  </div><!-- row -->

</div><!-- container -->