<%= form_for(:location) do |i| %>

<%= i.label :Ubicación_Completa_= %>

<%= i.text_field :address, value: "tobalaba 424, providencia, santiago" %>

<%= i.submit "Guardar Ubicación", class: "btn btn-primary" %>

<% end %>