<footer class="container">

  <div class="row">

    <div class="col-md-4">

      <ul class="list-unstyled">
      	<li>Contacto: contacto@socioinmobiliario.cl</li>
      	<li>Teléfono: 963709483</li>
      </ul>

    </div>

    <div class="col-md-4">

      <ul class="list-unstyled">
      	<li>Preguntas Frecuentes</li>
      	<li>Quienes somos</li>
      </ul>

    </div>

    <div class="col-md-4">

      <ul class="list-unstyled">
      	<li>Comisiones</li>
      	<li>Política de Privacidad</li>
      </ul>

    </div>

  </div><!-- row -->

</footer>