<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="glyphicon glyphicon-align-justify"></span><i class="fa fa-bars"></i>
                </button>
                <%= link_to "SocioInmobiliario", root_path, class: "navbar-brand page-scroll" %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <%= link_to "Propiedades", propiedades_path %>
                    </li>
                    <li>
                        <a>Como Funciona</a>
                    </li>
                    <li>
                        <a>Quienes Somos</a>
                    </li>
                    <% if logged_in? %>
          <li><%= link_to "Mi Cuenta", @current_user %></li>
          <li><%= link_to "Cerrar Sesión", logout_path, method: "delete" %></li>
          <% else %>
          <li><%= link_to "Ingresar", login_path %></li>
          <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="separator"></div><!-- separator -->

    