<%= form_for(:characteristic) do |c| %>

<%= c.label :Tipo_de_Propiedad %>

<%= c.text_field :property_type, value: "casa/depto/terreno" %>

<%= c.label :Duracion_Inversion %>

<%= c.text_field :investment, value: "cantidad años aprox" %>

<%= c.label :Rentabilidad_Estimada %>

<%= c.text_field :return, value: "25% aprox" %>

<%= c.label :Ubicación %>

<%= c.text_field :location, value: "Comuna/Ciudad" %>

<%= c.submit "Agregar Características", class: "btn btn-primary" %>

<% end %>