<%= form_for(:publish) do |i| %>

<% if @property.publish.present? %>
  <% if @property.publish.published? %>
    <%= i.hidden_field :published, value: false %>
    <%= i.submit "Anular Propiedad", class: "btn btn-danger" %>
  <% else %>
    <%= i.hidden_field :published, value: true %>
    <%= i.submit "Publicar Propiedad", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <%= i.hidden_field :published, value: true %>
  <%= i.submit "Publicar Propiedad", class: "btn btn-primary" %>
<% end %>

<% end %>