<%= form_for(:leasepayment) do |i| %>

<%= i.label :Pagar_Arriendo %>

<%= i.number_field :amount %>

</br>

<%= i.label :Mes_a_Pagar %>

<%= i.text_field :desc %>

<%= i.submit "Agregar Pago de Arriendo", class: "btn btn-primary" %>

<% end %>