<%= form_for([@user, @user.active_properties.build]) do |f| %>


  <p>
    <%= f.label :Nombre %> <br/>
    <%= f.text_area :name %><br>
  </p>
  <p>
    <%= f.label :Valor %><br>
    <%= f.number_field :valor %><br/>
  </p>

  <p>
    <br/>
    <%= f.submit "Publicar Propiedad", class: "btn btn-primary" %>
  </p>
<% end %>