<div class="container">

  <div class="row">

    <div class="col-md-6 jumbotron">

      <p class="h3">Nombre Propiedad</p>
      <%= @property.name %>
      <p class="h3">Valor Propiedad</p>
      <%= @property.valor %>
      <% if !@property.resume.nil? %>
      <p class="h3">Resumen Propiedad</p>
      <%= @resume.resume %>
      <% end %>
      <p class="h3">Arriendos Propiedad</p>
      <% @leases.each do |l| %>
      <ul>
        <li><%= l.renter %></li>
        <li><%= l.amount %></li>
        <%= link_to "Arriendo", lease_ad_path(l) %>
      </ul>
      <% end %>

    </div><!-- col-6 -->

    <div class="col-md-6 jumbotron">
      <%= link_to "Agregar Resumen", resume_path %>
      <%= link_to "Agregar Detalles", details_path %>
      <%= link_to "Agregar Ubicación", location_path %>
      <%= link_to "Agregar Imágenes", pictures_path %>
      <%= link_to "Agregar Características", characteristics_path %>
      <%= link_to "Agregar Arriendo Estimado", profit_path %>
      <% if @location.present? %>
        <% if !@published.present? %>
          <%= link_to "Publicar Propiedad", publish_path %>
        <% else %>
          <% if @published.published? %>
            <%= link_to "Anular Propiedad", publish_path %>
          <% else %>
            <%= link_to "Publicar Propiedad", publish_path %>
          <% end %>
        <% end %>
      <% end %>
    </div><!-- col-6 -->

    <div class="col-md-6 jumbotron">
      <%= link_to "Administrar Arriendo", lease_path %>
    </div><!-- col-6 -->

  </div><!-- row -->

</div><!-- container -->