<div class="container">

  <div class="row">

    <div class="col-md-6 jumbotron">

      <p class="h3">Nombre Propiedad</p>
      <%= @property.name %>
      <p class="h3">Valor Propiedad</p>
      <%= @property.valor %>
      <p class="h3">Características Propiedad</p>
      <%= render 'characteristics/form' %>
      <% @characteristics.each do |c| %>
      <ul>
        <li><%= c.property_type %></li>
        <li><%= c.investment %></li>
        <li><%= c.return %></li>
        <li><%= c.location %></li>
      </ul>
      <% end %>

    </div>

  </div><!-- row -->

</div><!-- container -->