<div class="container">

  <div class="row">

    <div class="col-md-6 jumbotron">

      <p class="h3">Nombre Propiedad</p>
      <%= @property.name %>
      <p class="h3">Valor Propiedad</p>
      <%= @property.valor %>
      <p class="h3">Detalles Propiedad</p>
      <%= render 'details/form' %>
      <% @details.each do |d| %>
      <ul>
        <li><%= d.detail %></li>
      </ul>
      <% end %>

    </div>

  </div><!-- row -->

</div><!-- container -->