<div class="container">

  <div class="row">
    
  <% @properties.each do |p| %>
    <!-- ProgressBar Logic -->
        <% @investments = p.investments %>
        <% @count = 0 %>
        <% @investments.each do |i| %>
        <% i.monto %>
        <% @count = i.monto + @count %>
        <% end %>
        <% @saldo = p.valor - @count %>
        <% @saldo_to = @saldo.to_f %>
        <% @count_to = @count.to_f %>
        <% @valor = p.valor %>
        <% @valor_to = @valor.to_f %>
        <% @progress = @count_to / @valor_to %>
        <% @progress_round = @progress.round(4) %>
        <% @progress_to100 = @progress_round * 100 %>
    <!-- End ProgresBar Logic -->

    <!-- Profitability logic -->
        <% if p.profitability.present? %>
        <% @please = p.profitability.lease.to_f * 12 %>
        <% @pvalue = p.valor.to_f %>
        <% @rentBruto = @please / @pvalue %>
        <% @rentBruto_round = @rentBruto.round(4) * 100 %>
        <% @rentNeta = @rentBruto * 0.88 * 100 %>
        <% @rentNeta_round = @rentNeta.round(2) %>
        <% @rentAnual = @rentNeta_round.round(0) * 1.35 %>
        <% end %>
    <!-- End Profitability logic -->
        <% if p.publish.present? && p.publish.published? %>
        
    <div class="col-md-6">
        <div class="feed-box">
        <div class="title">
          <p class="h5"><%= p.name %></p>
        </div>

        <div class="img">
          <%= image_tag p.pictures.first.image, class: "img-responsive" %>
        </div>

        <div class="fase-proyecto">
          <p class="h5">Propiedad en proceso de compra</p>
        </div><!-- fase-proyecto -->

        <div class="financed">
          <p class="h5 pull-left">Monto Financiado(<%= @progress_to100 %>%)</p>
          <p class="h5 pull-right">$<%= @valor %></p>
        </div><!-- financed -->

        <%= progress_bar @progress_round %>

        </div><!-- feed-box -->

        <div class="feed-box-2">

          <div class="investors">
            <ul class="list-unstyled list-inline">
              <li class="h5">Cantidad Inversionistas <%= p.users.distinct.count %></li>
              <li class="h5 pull-right">Tiempo Restante</li>
            </ul>
          </div><!-- investors -->

        <div class="rent-brut">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Arriendo Bruta</li>
              <li class="h5 pull-right"><%= @rentBruto_round %>%</li>
          </ul>
        </div><!-- rent-brut -->

        <div class="rent-net">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Arriendo Neta</li>
              <li class="h5 pull-right"><%= @rentNeta_round %>%</li>
          </ul>
        </div><!-- rent-net -->

        <div class="rent-total">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Anual Aproximada</li>
              <li class="h5 pull-right"><%= @rentAnual %>%</li>
          </ul>
        </div><!-- rent-total -->
        
        <% if p.financed? %>

        <div class="invest text-center">
          <%= link_to "Propiedad Financiada", property_path(p), class: "btn btn-default" %>
        </div><!-- invest -->

        <% else %>

          <div class="invest text-center">
          <%= link_to "Invertir", property_path(p), class: "btn btn-success" %>
        </div><!-- invest -->

        <% end %>

        </div><!-- feed-box-2 -->

      </div><!-- col -->

      <% end %><!-- publish.present? -->

    <% end %><!-- .each -->

  </div><!-- row -->

</div><!-- container -->
