<% @leases.each do |l| %>
    <div class="col-md-12 jumbotron">
      
      <p class="h4">Nombre Propiedad</p>
      <%= l.renter %>
      <p class="h4">Valor Propiedad</p>
      <%= l.amount %>
      <% @leases.each do |l| %>
      <ul>
        <li><%= l.renter %></li>
        <li><%= l.amount %></li>
      </ul>
      <% end %>
      LOLLLLLL!!!!!
    </div>
<% end %>