<div class="container">

  <div class="row">

    <div class="col-md-6 jumbotron">

      <p class="h3">Nombre Propiedad</p>
      <%= @property.name %>
      <p class="h3">Valor Propiedad</p>
      <%= @property.valor %>
      <% if @property.location.nil? %>
      <%= render 'locations/form' %>
      <% else %>
      <p class="h3">Ubicación Propiedad</p>
      <%= @location.address %>
      <%= @location.latitude %>
      <%= @location.longitude %>
      <% end %>

    </div>

    <div class="col-md-6">
      <div style='width: 800px;'>
        <div id="map" style='width: 800px; height: 400px;'>

        </div>
      </div>

      <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(16);
});
      </script>
    </div>

  </div><!-- row -->

</div><!-- container -->