<div class="container">

  <div class="row">

    <div class="col-md-6 jumbotron">

      <p class="h3">Nombre Propiedad</p>
      <%= @property.name %>
      <p class="h3">Valor Propiedad</p>
      <%= @property.valor %>
      <p class="h3">Imágenes Propiedad</p>
      <%= render 'pictures/form' %>
      <% @pictures.each do |p| %>
      <ul>
        <li><%= image_tag p.image %></li>
      </ul>
      <% end %>

    </div>

  </div><!-- row -->

</div><!-- container -->