<div class="container">

  <div class="row">

    <div class="col-md-6 jumbotron">

      <p class="h3">Nombre Propiedad</p>
      <%= @property.name %>
      <p class="h3">Valor Propiedad</p>
      <%= @property.valor %>
      <%= render 'publishes/form' %>
    </div>

  </div><!-- row -->

</div><!-- container -->