<div class="container">

  <div class="row">

    <div class="col-md-6 jumbotron">

      <p class="h3">Nombre Propiedad</p>
      <%= @property.name %>
      <p class="h3">Valor Propiedad</p>
      <%= @property.valor %>
      <% if @property.resume.nil? %>
      <%= render 'resumes/form' %>
      <% else %>
      <p class="h3">Resumen Propiedad</p>
      <%= @resume.resume %>
      <% end %>

    </div>

  </div><!-- row -->

</div><!-- container -->