<div class="container">

  <div class="row">

    <div class="jumbotron col-md-6">
      <%= image_tag @pictures.first.image %>
    </div>

    <div class="jumbotron col-md-6">
      <p class="h3">Nombre propiedad</p>
      <%= @property.name %>
      <p class="h3">Valor propiedad</p>
      <%= @property.valor %>
      <% if !@property.financed? %>
      <p class="h3">Porcentaje(%) Financiado:</p>
      <%= @financed %> %
      <%= progress_bar @p_financed %>
      <p class="h3">Porcentaje(%) por Financiar:</p>
      <%= @pending %> %
      <% else %>
      <p class="h3">Porcentaje(%) Financiado:</p>
      <%= @financed %> %
      <%= progress_bar @p_financed %>
      <% end %>
      <p class="h3">Cantidad de Inversionistas:</p>
      <%= @investors.count %>
      <% if !@property.financed? %>
    	<%= render 'investments/form' %>
      <% end %>
    </div>

  </div><!-- row -->

</div><!-- container -->

<div class="container">

  <div class="row">

    <div class="jumbotron col-md-6">
      <p class="h4">Valor Comercial aprox <%= @property.valor %></p>
      <p class="h4">Valor Compra <%= @property.valor %></p>
      <p class="h4">Descuento Conseguido 10%</p>
    </div>

    <div class="jumbotron col-md-6">
      <p class="h4">Rentabilidad Arriendo bruta <%= @rent_bruta.round(2) %></p>
      <p class="h4">Rentabilidad Arriendo neta <%= @rent_neta.round(2) %></p>
    </div>

  </div><!-- row -->

</div><!-- container -->

<div class="container">

  <div class="row">

    <div class="jumbotron col-md-6">
      <p class="h3">Por qué invertir en "Nombre Propiedad | Oportunidad de Inversión"</p>
      <ul>
        <li>Por esto</li>
        <li>Por esto</li>
        <li>Por esto</li>
        <li>Por esto</li>
      </ul>
    </div>

    <div class="jumbotron col-md-6">
      <p class="h3">Comparte esta oportunidad de inversión!</p>
      <p class="h3">Características</p>
      <ul>
        <li>Casa/Depto</li>
        <li>Rentabilidad esperada</li>
        <li>Ubicación</li>
        <li>Etc</li>
      </ul>
    </div>

  </div><!-- row -->

</div><!-- container -->

<div class="container">

  <div class="row">

    <div class="jumbotron col-md-12">
     <p class="h3">Resumen Financiero de la Propiedad</p>
     <ul>
      <li>Precio de Compra</li>
      <li>Gastos Notariales</li>
      <li>Gastos Societarios</li>
      <li>Gastos Legales</li>
     </ul>
     <p class="h4">Breve explicación costos</p>
    </div>

  </div><!-- row -->

</div><!-- container -->

<div class="container">

  <div class="row">

    <div class="jumbotron col-md-12">
     <p class="h3">Localización Google Maps</p>
     
     <div class="col-md-6">
      <div style='width: 800px;'>
        <div id="map" style='width: 800px; height: 400px;'>

        </div>
      </div>

      <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(16);
});
      </script>

    </div>

  </div><!-- row -->

</div><!-- container -->

<div class="container">

  <div class="row">

    <div class="jumbotron col-md-12">
     <p class="h3">Galería Imágenes</p>
     <p>...</p>
    </div>

  </div><!-- row -->

</div><!-- container -->

