
<div class="container">
	<div class="row">

      <div class="col-md-6">
        <div class="feed-box">
      	<div class="title">
      		<p class="h5">Nombre</p>
      	</div>

      	<div class="img">
      	  <%= image_tag "MAC.jpg", class: "img-responsive" %>
      	</div>

      	<div class="fase-proyecto">
      	  <p class="h5">Propiedad en proceso de compra</p>
      	</div><!-- fase-proyecto -->

        <div class="financed">
          <p class="h5 pull-left">Monto Financiado(xx%)</p>
          <p class="h5 pull-right">$100.000.000</p>
        </div><!-- financed -->

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 27%;">
           </div><!-- progress -->
        </div><!-- progress-bar -->

        </div><!-- feed-box -->

        <div class="feed-box-2">

          <div class="investors">
            <ul class="list-unstyled list-inline">
              <li class="h5">Cantidad Inversionistas</li>
              <li class="h5 pull-right">Tiempo Restante</li>
            </ul>
          </div><!-- investors -->

        <div class="rent-brut">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Arriendo Bruta</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-brut -->

        <div class="rent-net">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Arriendo Neta</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-net -->

        <div class="rent-total">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Anual Aproximada</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-total -->

        <div class="invest text-center">
          <button class="btn btn-success">
            Invertir
          </button>
        </div><!-- invest -->

        </div><!-- feed-box-2 -->

      </div><!-- col -->
  
      <div class="col-md-6">
        <div class="feed-box">
      	<div class="title">
      		<p class="h5">Nombre</p>
      	</div>

      	<div class="img">
      	  <%= image_tag "MAC.jpg", class: "img-responsive" %>
      	</div>

      	<div class="fase-proyecto">
      	  <p class="h5">Propiedad en proceso de compra</p>
      	</div><!-- fase-proyecto -->

        <div class="financed">
          <p class="h5 pull-left">Monto Financiado(xx%)</p>
          <p class="h5 pull-right">$100.000.000</p>
        </div><!-- financed -->

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
           </div><!-- progress -->
        </div><!-- progress-bar -->

        </div><!-- feed-box -->

        <div class="feed-box-2">

          <div class="investors">
            <ul class="list-unstyled list-inline">
              <li class="h5">Cantidad Inversionistas</li>
              <li class="h5 pull-right">Tiempo Restante</li>
            </ul>
          </div><!-- investors -->

        <div class="rent-brut">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Arriendo Bruta</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-brut -->

        <div class="rent-net">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Arriendo Neta</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-net -->

        <div class="rent-total">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Anual Aproximada</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-total -->

        <div class="invest text-center">
          <button class="btn btn-success">
            Invertir
          </button>
        </div><!-- invest -->

        </div><!-- feed-box-2 -->

      </div><!-- col -->

      <div class="col-md-6">
        <div class="feed-box">
            <div class="title">
                  <p class="h5">Nombre</p>
            </div>

            <div class="img">
              <%= image_tag "MAC.jpg", class: "img-responsive" %>
            </div>

            <div class="fase-proyecto">
              <p class="h5">Propiedad Comprada</p>
            </div><!-- fase-proyecto -->

            <div class="financed">
              <p class="h5 pull-left">Monto Financiado(xx%)</p>
              <p class="h5 pull-right">$100.000.000</p>
            </div><!-- financed -->

            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
              </div><!-- progress -->
            </div><!-- progress-bar -->

        </div><!-- feed-box -->

        <div class="feed-box-2">

          <div class="investors">
            <ul class="list-unstyled list-inline">
              <li class="h5">Cantidad Inversionistas</li>
              <li class="h5 pull-right">Tiempo Restante</li>
            </ul>
          </div><!-- investors -->

        <div class="rent-brut">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Arriendo Bruta</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-brut -->

        <div class="rent-net">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Arriendo Neta</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-net -->

        <div class="rent-total">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Anual Aproximada</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-total -->

        <div class="invest text-center">
          <button class="btn btn-success">
            Invertir
          </button>
        </div><!-- invest -->

        </div><!-- feed-box-2 -->

      </div><!-- col -->

      <div class="col-md-6">
        <div class="feed-box">
            <div class="title">
                  <p class="h5">Nombre</p>
            </div>

            <div class="img">
              <%= image_tag "MAC.jpg", class: "img-responsive" %>
            </div>

            <div class="fase-proyecto">
              <p class="h5">Propiedad Comprada</p>
            </div><!-- fase-proyecto -->

            <div class="financed">
              <p class="h5 pull-left">Monto Financiado(xx%)</p>
              <p class="h5 pull-right">$100.000.000</p>
            </div><!-- financed -->

            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
              </div><!-- progress -->
            </div><!-- progress-bar -->

        </div><!-- feed-box -->

        <div class="feed-box-2">

          <div class="investors">
            <ul class="list-unstyled list-inline">
              <li class="h5">Cantidad Inversionistas</li>
              <li class="h5 pull-right">Tiempo Restante</li>
            </ul>
          </div><!-- investors -->

        <div class="rent-brut">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Arriendo Bruta</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-brut -->

        <div class="rent-net">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Arriendo Neta</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-net -->

        <div class="rent-total">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Anual Aproximada</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-total -->

        <div class="invest text-center">
          <button class="btn btn-success">
            Invertir
          </button>
        </div><!-- invest -->

        </div><!-- feed-box-2 -->

      </div><!-- col -->

      <div class="col-md-6">
        <div class="feed-box">
            <div class="title">
                  <p class="h5">Nombre</p>
            </div>

            <div class="img">
              <%= image_tag "MAC.jpg", class: "img-responsive" %>
            </div>

            <div class="fase-proyecto">
              <p class="h5">Propiedad Arrendada</p>
            </div><!-- fase-proyecto -->

            <div class="financed">
              <p class="h5 pull-left">Monto Financiado(xx%)</p>
              <p class="h5 pull-right">$100.000.000</p>
            </div><!-- financed -->

            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
              </div><!-- progress -->
            </div><!-- progress-bar -->

        </div><!-- feed-box -->

        <div class="feed-box-2">

          <div class="investors">
            <ul class="list-unstyled list-inline">
              <li class="h5">Cantidad Inversionistas</li>
              <li class="h5 pull-right">Tiempo Restante</li>
            </ul>
          </div><!-- investors -->

        <div class="rent-brut">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Arriendo Bruta</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-brut -->

        <div class="rent-net">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Arriendo Neta</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-net -->

        <div class="rent-total">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Anual Aproximada</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-total -->

        <div class="invest text-center">
          <button class="btn btn-success">
            Invertir
          </button>
        </div><!-- invest -->

        </div><!-- feed-box-2 -->

      </div><!-- col -->

      <div class="col-md-6">
        <div class="feed-box">
            <div class="title">
                  <p class="h5">Nombre</p>
            </div>

            <div class="img">
              <%= image_tag "MAC.jpg", class: "img-responsive" %>
            </div>

            <div class="fase-proyecto">
              <p class="h5">Propiedad Arrendada</p>
            </div><!-- fase-proyecto -->

            <div class="financed">
              <p class="h5 pull-left">Monto Financiado(xx%)</p>
              <p class="h5 pull-right">$100.000.000</p>
            </div><!-- financed -->

            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
               </div><!-- progress -->
            </div><!-- progress-bar -->

        </div><!-- feed-box -->

        <div class="feed-box-2">

          <div class="investors">
            <ul class="list-unstyled list-inline">
              <li class="h5">Cantidad Inversionistas</li>
              <li class="h5 pull-right">Tiempo Restante</li>
            </ul>
          </div><!-- investors -->

        <div class="rent-brut">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Arriendo Bruta</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-brut -->

        <div class="rent-net">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Arriendo Neta</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-net -->

        <div class="rent-total">
          <ul class="list-unstyled list-inline">
              <li class="h5">Rentabilidad Anual Aproximada</li>
              <li class="h5 pull-right">xx,xx%</li>
          </ul>
        </div><!-- rent-total -->

        <div class="invest text-center">
          <button class="btn btn-success">
            Invertir
          </button>
        </div><!-- invest -->

        </div><!-- feed-box-2 -->

      </div><!-- col -->

	</div><!-- row -->
</div><!-- container -->
