
<section class="container">

  <div class="row">

    <p class="text-center h2">
    	Únete a la revolución del mercado Inmobiliario!
    </p>
    <p class="text-center h4">
    	Invertir en propiedades finalmente es fácil!
    </p>
    <p class="text-center">
    <button class="h4 btn-success">Ver Propiedades</button>
    </p>

  </div><!-- row -->

</section><!-- container -->

<section>

  <div class="row">

    <div class="col-md-4">

      <p class="h4">Sé dueño de una parte de muchas propiedades, y recibe el arriendo correspondiente</p>

      <ul>
      	<li>Las propiedades son la inversión más segura</li>
      	<li>No necesitas ser un inversionista experto</li>
      </ul>

    </div><!-- col-md-4 -->

    <div class="col-md-8">

      <p class="h4">Las propiedades por regla general al menos mantienen su valor en uf.</p>
      <p class="h4">El arriendo es más rentable que un depósito a plazo.</p>

    </div><!-- col-md-8 -->

  </div><!-- row -->

</section><!-- container -->

<section class="container">

  <div class="row">

    <p class="h3 text-center">Las propiedades son una inversión sólida</p>
    <p class="h5 text-center">Su valor no fluctúa grandemente, no es volátil como la bolsa de valores y aún así obtiene en promedio mejores retornos que la mayoría de los instrumentos de inversión.</p>

  </div><!-- row -->

</section><!-- container -->


