<%= form_for(:investment) do |i| %>
<%= i.hidden_field :property_id, value: @property.id %>

<% @property.valor %>

<% @investments = @property.investments %>
<% @count = 0 %>
<% @investments.each do |i| %>
<% i.monto %>
<% @count = i.monto + @count %>
<% end %>
<% @saldo = @property.valor - @count %>
<% @bloque = @saldo / 100000 %>
<% @acciones_totales = @property.valor %>

<%= i.label :Monto_a_Invertir_= %>
<%#= i.number_field :monto, value: @count %>
<%= i.number_field :monto, value: 100000, min: 100000, max: @saldo, step: 100000 %>
<%#= i.number_field :monto, value: @saldo, min: 1000, max: @saldo. step: 100000 %>
<%#= number_field_tag(:monto, min: @bloque, max: @saldo) %>


<%= i.submit "Invertir", class: "btn btn-primary" %>
<% end %>