<%= form_for(:lease) do |i| %>

<%= i.label :Arriendo_Convenido_= %>

<%= i.number_field :amount, placeholder: "250000" %>
</br>
<%= i.label :Nombre_Arrendatario_= %>

<%= i.text_field :renter, placeholder: "Juan Perez" %>

<%= i.submit "Crear Arriendo", class: "btn btn-primary" %>

<% end %>