    <div class="col-md-12 jumbotron">
      
      <p class="h4">Nombre Arrendatario</p>
      <%= @lease.renter %>
      <p class="h4">Valor Arriendo</p>
      <%= @lease.amount %>
      <%= render 'leases_payment/form' %>
      <p class="h3">Arriendos Pagados:</p>
      <% @lease.lease_payments.each do |l| %>
      <%= l.amount %>
      <%= l.desc %>
      </br>
      <% end %>
    </div>
